/* *{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
.class{
    background-color:black ;
    /* height: 100vh; */
/* }
.cl{
    display: flex;
    align-items: center;
   min-height: 100vh;
    justify-content: center center;
    flex-direction: column;
}
.min{
    
}  */